<div class="card">
    <div class="item item-divider bar-calm">
        <h3>{{exercise.name}}</h3>
    </div>
    <div class="item item-text-wrap">
        <h3>{{exercise.description}}</h3>

        <div class="row">
            <div class="col clock-holder">
                <h1>
                    <timer countdown="exercise.maxHold" autostart="false" interval="1000">
                        {{mminutes}}:{{sseconds}}
                    </timer>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button ng-click="startTimer()" class="button button-block button-balanced">Start</button>
            </div>
            <div class="col">
                <button ng-click="stopTimer()" class="button button-block button-assertive">Stop</button>
            </div>
            <div class="col">
                <button ng-click="resetTimer()" class="button button-block button-positive">Reset</button>
            </div>
        </div>
        <div class="row">
            <div class="col hold-video-holder">
                <div class="youtube-container">
                    <div class="youtube-player" data-id="{{exercise.youtube}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
