<div class="card">
    <div class="item item-divider">
        <a class="button button-icon icon ion-gear-a right" href="#/tab/settings/exercise/{{exercise.name}}"></a>
        <h3 class="exercise-name">{{exercise.name}}</h3>
    </div>
    <div class="item item-text-wrap">
        <div class="row">
            <div class="col">
                <h3>{{exercise.description}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col hold-video-holder">
                <div class="youtube-container">
                    <div class="youtube-player" data-id="{{exercise.youtube}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>






