<div class="card rest">
    <div class="item item-divider">
        <h3 class="exercise-name">{{exercise.name}}</h3>
    </div>
    <div class="item item-text-wrap">
        <div class="row">
            <div class="col clock-holder" id="timer-{{exercise.index}}">
                <h1>
                    <timer countdown="exercise.seconds" autostart="false" interval="1000">
                        {{mminutes}}:{{sseconds}}
                    </timer>
                </h1>
            </div>`
        </div>
        <div class="row">
            <div class="col">
                <button ng-click="startTimer({{exercise.index}})" class="button button-block button-balanced">Start</button>
            </div>
            <div class="col">
                <button ng-click="stopTimer()" class="button button-block button-assertive">Stop</button>
            </div>
            <div class="col">
                <button ng-click="resetTimer()" class="button button-block button-positive">Reset</button>
            </div>
        </div>
    </div>
</div>
