<ion-view view-title="Settings" hide-back-button="false">
    <ion-content>
        <div class="row">
            <div class="col">
                <h3>Global settings</h3>
                <ul class="list">
                    <li class="item item-{{setting.type}}" ng-repeat="setting in settings track by $index">
                        <div ng-if="setting.type == 'checkbox'">
                            <label class="{{setting.type}}">
                                <input ng-model="setting.value" type="{{setting.type}}" value="setting.value"
                                       ng-change="updateSettings(setting.key,setting)">
                            </label>
                            {{setting.name}}
                        </div>
                        <div ng-if="setting.type == 'select'">
                            <div class="input-label">
                                Levels
                            </div>
                            <select ng-model="setting.value" type="select"
                                    ng-change="updateSettings(setting.key, setting)">
                                <option ng-repeat="item in setting.allowedValues"
                                        value="{{item.value}}"
                                        ng-selected="{{item.value == setting.value}}"
                                        >{{item.name}}
                                </option>
                            </select>
                        </div>
                    </li>
                </ul>

                <h3>Exercise settings</h3>
                <ion-item ng-repeat="exercise in exercises" href="#/tab/settings/exercise/{{exercise.name}}">
                    {{exercise.name}}
                </ion-item>

                <h3>Reset routine</h3>
                <button class="button button-assertive" ng-click="clearRoutine()">
                    Reset current routine
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
